/* General */

a, a:hover {
  text-decoration: none;
}

div.flash {
  margin: 1em 1em 1em 0.5em;
}

.container-fluid {
  margin: 2em 0 0 0;
}


/* Layout */

#container {
  width: 960px;
  margin: auto;
}


/* Top matter */

#top-matter {
  text-align: center;
  font-family: 'IM Fell English';
}


/* Logout */

#current-administrator {
  position: absolute;
  right: 1.5em;
  font-size: 13px;
}

#current-administrator form, #current-administrator form div {
  display: inline;
}


/* Title */

#title {
  font-family: 'IM Fell English';
  font-size: 81px;
  margin: 0.2em 0 0 0;
  color: #000;
}

#subtitle {
  font-size: 17px;
  margin-top: -0.6em;
  color: #5e5e5e;
}


/* Menu */

header {
  border-bottom: 1px solid #ddd;
  padding: 0.6em 0 0.7em 0;
}

nav {
  font-size: 1.6em;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 1.3em;
}

nav a {
  text-decoration: none;
  color: #272727;
}

nav a:hover, nav a.active {
  color: #007eff;
}

/* Welcome */

fieldset#first-admin {
  margin-top: 0;
}

.actions {
  background: none;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 5px 20px 18px 150px;
  border-top: none;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
