/* Dev styling */

body {
  font-family: Rosario;
  padding: 0 0 0 1em;
}

nav ul {
  padding-left: 0.1em;
}

nav li {
  display: inline;
  margin-right: 1em;
}

div.flash {
  margin: 1em 1em 1em 0.5em;
}
