<div class="container-fluid">
  <div class="sidebar">
    <h2>Welcome!</h2>
    <p>To get started, enter information to create a system-wide administrator. This initial account
    will have the authority to create login credentials for other researchers and control their access privileges.</p>
  </div>
  <div class="content">
    <%= render 'first_administrator_form' %>
  </div>
</div>
