<h1>Field Poetics</h1>
<p>Welcome! To get started, enter information below to create a system-wide administrator. This initial account
will have the authority to create login credentials for other researchers and control their access privileges.</p>

<%= render 'first_administrator_form' %>
