<div id="current-administrator">
  <span class="current-admin"><%= current_administrator.username %></span>
  <span> | </span>
  <span><%= button_to "logout", signout_path , :id => 'logout', :class => 'btn' %></span>
</div>
